@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    color: black;
}

body {
    background: url("images/cat-background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: auto;
    display: flex;
    margin: 0;
    justify-content: center;
    flex-direction: row;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("images/cat-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px); /* Apply blur effect */
    z-index: -1; /* Ensure the pseudo-element stays behind the content */
}

.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.right-header, .left-header {
    display: flex;
    margin: 40px 40px;
    font-size: 20px;
    font-weight: bold;
}

.left-header {
    gap: 40px;
}

.right-header {
    gap: 30px;
}
.login, .register {
    border: 3px solid black;
    border-radius: 5px;
    padding: 4px 22px;
}
.form-title {
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
    color: black;
}
.form-container {
    margin-top: 20px;
    width: 750px;
    height: 800px;
    border: solid, rgb(214, 158, 90), 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
    flex-direction: column;
    gap: 40px;
}

.row {
    display: flex;
    gap: 80px;
}

.element {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    background-color: transparent;
    border: solid rgb(214, 158, 90) 3px;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

input:focus {
    outline: none;
    background-color: transparent;
}

button {
    width: 240px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background: rgb(214, 158, 90);
    border-radius: 8px;
    border: none;
    color: white;
    align-self: center;
    margin-top: 20px;
    cursor: pointer;
}

a {
    color: interit;
    text-decoration: none;
}
a:visited { 
    color: inherit;
}

.button-info {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}